*{
    margin: 0;
}

body{
    background-color: black;
    width: 100vw;
    height: auto;
    color: white;
}

.left-side{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}

.right-side{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-box{
    background-color: #FF5200;
}

.projects-box{
    background-color: #00263B;
}

.services-box{
    background-color: #6F0000;
    margin-top: 15px;
}

.contact-box{
    background-color: #00A1AB;
    margin-top: 15px;
}

.box-size{
    width: 45vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.text{
    text-align: center;
}
